* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --primary-color: #c6c3c3 !important;
  --second-color: #ffffff !important;
  --black-color: #000000 !important;
}

body {
  background-image: url("/assets/img/back.png") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

a {
  text-decoration: none !important;
  color: var(--second-color) !important;
}

a:hover {
  text-decoration: underline !important;
}

.wrapper {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.login_box {
  position: relative !important;
  width: 450px !important;
  backdrop-filter: blur(25px) !important;
  border: 2px solid #ffffff !important;
  border-radius: 15px !important;
  padding: 7.5em 2.5em 4em 2.5em !important;
  color: var(--second-color) !important;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) !important;
}

.login-header {
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #ffffff !important;
  width: 230px !important;
  height: 85px !important;
  border-radius: 0 0 20px 20px !important;
}

.login-header span {
  /* //font-size: 30px !important; */
  color: var(--black-color) !important;
}

.login-header::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: -30px !important;
  width: 30px !important;
  height: 30px !important;
  border-top-right-radius: 50% !important;
  background: transparent !important;
  box-shadow: 15px 0 0 0 #ffffff !important;
}

.login-header::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  right: -30px !important;
  width: 30px !important;
  height: 30px !important;
  border-top-left-radius: 50% !important;
  background: transparent !important;
  box-shadow: -15px 0 0 0 #ffffff !important; /* Removed space before --primary-color */
}

.input_box {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 20px 0 !important;
}

.input-field {
  width: 100% !important;
  height: 55px !important;
  font-size: 16px !important;
  background: transparent !important;
  color: var(--second-color) !important;
  padding-inline: 20px 50px !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 30px !important;
  outline: none !important;
}

#user {
  margin-bottom: 10px !important;
}

.label {
  position: absolute !important;
  top: 15px !important;
  left: 20px !important;
  transition: 0.2s !important;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label,
.input-field:focus-within ~ .label {
  position: absolute !important;
  top: -10px !important;
  left: 20px !important;
  font-size: 14px !important;
  background-color: var(--primary-color) !important;
  border-radius: 30px !important;
  color: var(--black-color) !important;
  padding: 0 10px !important;
}

.icon {
  position: absolute !important;
  top: 18px !important;
  right: 25px !important;
  font-size: 20px !important;
}

.remember-forgot {
  display: flex !important;
  justify-content: space-between !important;
  font-size: 15px !important;
}

.input-submit {
  width: 100% !important;
  height: 50px !important;
  background: #ececec !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  border: none !important;
  border-radius: 30px !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.input-submit:hover {
  background: var(--second-color) !important;
}

.register {
  text-align: center !important;
}

.register a {
  font-weight: 500 !important;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px !important;
  }

  .login_box {
    padding: 7.5em 1.5em 4em 1.5em !important;
  }
}