<div class="fp-container">

  <!-- Close Button -->
  <button mat-icon-button class="fp-close-btn" (click)="dialog.close()">
    <mat-icon>close</mat-icon>
  </button>

  <h2 class="fp-title">Reset Password</h2>

  <p class="fp-subtitle">
    Enter your email below. We’ll send you a new password if your email exists.
  </p>

  <form [formGroup]="forgotForm" (ngSubmit)="submit()" class="fp-form">

    <mat-form-field appearance="outline" class="fp-full">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" placeholder="example@email.com">

      <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>

      <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="fp-btn"
      [disabled]="forgotForm.invalid">
      Send New Password
    </button>

  </form>

  <div *ngIf="errorMsg" class="fp-msg fp-error">{{ errorMsg }}</div>
  <div *ngIf="successMsg" class="fp-msg fp-success">{{ successMsg }}</div>

</div>
