::ng-deep  .mat-mdc-header-row {
    background:  #E3EBF3 !important;
  }
  ::ng-deep .form-inline .form-control.form-small {
  min-width: 180px;   /* width badhayi */
 height: 30px !important; 
  font-size: 14px;    /* readable text */
  padding: 4px 8px;   /* inner spacing */
}
.form-inline .form-control.form-small {
  min-width: 180px;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.4;
}
  .file-exists {
  color: #0057c9; /* blue */
  cursor: pointer;
}

.no-file {
  color: #0e0303; /* light grey */
  /* cursor: not-allowed; */
}