<mat-dialog-content>
  <form [formGroup]="changePassForm" (ngSubmit)="addHandler()">
    <div style="Color:red; padding-bottom:10px; font-size: 12px !important;"> {{errorMsg}}</div>
    <h4>Change Password<br>
      <span class="mandatory-fields"> Mandatory Fields are sign with asterisk(*). Password must Contain atleast8
        characters. It must Contain upper & lower letters and digits. </span>
    </h4>
    <div class="row">
      <div class="col form">
        <mat-form-field color="accent">
          <mat-label>Enter Old Password</mat-label>
          <input matInput type="password" formControlName="oldPass" [value]="fm.oldPass.value" required>
          <!-- <mat-error>
             Enter Old Password.
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col form">
        <mat-form-field color="accent">
          <mat-label>Enter New Password</mat-label>
          <input matInput type="password" formControlName="newpassword" required>

          <!-- <span *ngIf="fm.newpassword.errors?.required && (fm.newpassword.dirty || fm.newpassword.touched)"
          class="error-msg">new password is required</span> -->
          <span class="error-msg" style="color: maroon;"
            *ngIf="fm.newpassword.errors?.pattern && (fm.newpassword.dirty || fm.newpassword.touched)">
            Password must contain at least one number, one special character, one uppercase and a
            lowercase letter and at least 8 characters<br />Password cannot
            contain whitespace
          </span>


        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col form"> <mat-label>&nbsp;</mat-label></div>
    </div>
    <div class="row">
      <div class="col form">
        <mat-form-field color="accent">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmpassword" (input)="comparePwd()" required>

          <span class="error-msg" *ngIf="notMatched"> Confirm password did not match
          </span>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>&nbsp;
      <button type="submit" mat-raised-button color="primary" [disabled]="changePassForm.invalid">Change
        Password</button>
    </div>
  </form>