<!-- <div class="cont overlay black">
    <form>
        <div class="description-outer">
      <div class="description">
          <h4>Atlantas Crew Management</h4>
          <h5 style="margin-bottom: 10px;">(Seafarer Job Portal)</h5>
          <p>Join our experienced team and build your maritime career with global exposure and diverse opportunities. We’re seeking qualified and motivated professionals for our fleet of oil and chemical tankers, bulk carriers, and offshore support vessels.</p>       
        <button (click)="addApplicant()" class="signup mt-5" type="button" data-bs-toggle="modal" tooltipPosition="bottom">
          Register Now
        </button>
      </div>    
    </div>
    <div class="login-outer">
      <div class="login">
        <div class="login_logo"></div>    -->
        <!-- <form [formGroup]="loginForm" (ngSubmit)="login()">      
        <div class="login__form">
            <p class="tagline">Seafarer Portal</p>
          <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input type="text" class="login__input name" formControlName="userName" placeholder="Username" required/>
          </div>
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            <input type="password" class="login__input pass" formControlName="password" placeholder="Password" required/>
          </div>
          <button type="submit" class="login__submit">Sign in</button>	  
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>	 
      </form>   -->
      
      
      <!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="login__form">
          <p class="tagline">Seafarer Job Portal</p>
      
          <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input type="text" class="login__input name" formControlName="userName" placeholder="Username" required />
          </div>
      
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            <input type="password" class="login__input pass" formControlName="password" placeholder="Password" required />
          </div> -->
      
          <!-- reCAPTCHA -->
          <!-- <div class="login__row">
            <re-captcha 
            siteKey="6LcGLhkrAAAAAPUgJ03kSTHvyEvi4Z8MoJRmV43I" 
              (resolved)="handleCaptchaSuccess($event)">
            </re-captcha>
          </div> -->
         
          <!-- <button type="submit" class="login__submit" >Sign in</button>
      
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
      </form>      
      </div>    
    </div>
  </form>  
  </div> -->

<div class="wrapper login-page">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="login_box">
    <div class="login-header">
      <span><img src="/assets/img/logo.png" style="width: 150px;"></span>
    </div>	
	<div class="mt-5 mb-3" style="text-align:center">
<h4>Seafarer Job Portal</h4>
	</div>


    <div class="input_box">
      <input type="text" id="user" class="input-field" formControlName="userName" required>

      <label for="user" class="label">Username</label>
      <i class="bx bx-user icon"></i>
    </div>

    <div class="input_box">
      <input type="password" id="pass" class="input-field" formControlName="password" required>
      <label for="pass" class="label">Password</label>
      <i class="bx bx-lock-alt icon"></i>
    </div>

    <div class="remember-forgot">
      <div class="remember-me">
        <!-- <input type="checkbox" id="remember">
        <label for="remember">Remember me</label> -->
      </div>

      <div class="forgot">
        <a  (click)="openForgotPassword()">Forgot password?</a>
      </div>
    </div>

    <div class="input_box">
      <input type="submit" class="input-submit" value="Login">
    </div>

    <div class="register">
      <span>Don't have an account? <a (click)="addApplicant()" ><u>Register</u></a></span>
    </div>
  </div>
   <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>

  
  
  
