
   ::ng-deep  .mat-mdc-table mat-header-row.mat-mdc-header-row {
    background:  #e5f7ff !important; 
  }
   
   :host  .login-page .red-snackbar .mat-mdc-simple-snack-bar {
    background: #ad2300 !important;
    color: #fff !important;
  }
  
   :host  .login-page .blue-snackbar .mat-mdc-simple-snack-bar {
    background: #233855 !important;
    color: #fff !important;
  }
  ::ng-deep :root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}
 ::ng-deep .login-background {
  background-image: url("/assets/img/back.png") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

 :host  .login-page a {
  text-decoration: none !important;
  color: var(--second-color) !important;
}

 :host  .login-page a:hover {
  text-decoration: underline !important;
}

 :host  .wrapper {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

 :host  .login-page .login_box {
  position: relative !important;
  width: 420px !important;
  backdrop-filter: blur(35px) !important;
  border: 2px solid #ffffff !important;
  border-radius: 15px !important;
  padding: 7.5em 2.5em 4em 2.5em !important;
  color: var(--second-color) !important;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) !important;
}

 :host  .login-page .login-header {
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #ffffff !important;
  width: 220px !important;
  height: 75px !important;
  border-radius: 0 0 20px 20px !important;
}

 :host  .login-page .login-header span {
  /* //font-size: 30px !important; */
  color: var(--black-color) !important;
}

 :host  .login-page .login-header::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: -30px !important;
  width: 30px !important;
  height: 30px !important;
  border-top-right-radius: 50% !important;
  background: transparent !important;
  box-shadow: 15px 0 0 0 #ffffff !important;
}

 :host  .login-page .login-header::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  right: -30px !important;
  width: 30px !important;
  height: 30px !important;
  border-top-left-radius: 50% !important;
  background: transparent !important;
  box-shadow: -15px 0 0 0 #ffffff !important; /* Removed space before --primary-color */
}

 :host  .login-page .input_box {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 20px 0 !important;
}

 :host  .login-page .input-field {
  width: 100% !important;
  height: 55px !important;
  font-size: 14px !important;
  background: transparent !important;
  color: var(--second-color) !important;
  padding-inline: 20px 50px !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 30px !important;
  outline: none !important;
}

 :host  .login-page #user {
  margin-bottom: 10px !important;
}

 :host  .login-page .label {
  position: absolute !important;
  top: 15px !important;
  left: 20px !important;
  transition: 0.2s !important;
  /* visibility: hidden !important; */
      color: #fff;
}

 :host  .login-page .input-field:focus ~ .label,
 :host  .login-page .input-field:valid ~ .label,
 :host  .login-page .input-field:focus-within ~  :host  .login-page .label {
  position: absolute !important;
  top: -10px !important;
  left: 20px !important;
  font-size: 14px !important;
  background-color: var(--primary-color) !important;
  border-radius: 30px !important;
  color: var(--black-color) !important;
  padding: 0 10px !important;
  visibility: visible !important;
}

 :host  .login-page .icon {
  position: absolute !important;
  top: 18px !important;
  right: 25px !important;
  font-size: 20px !important; 
}

 :host  .login-page .remember-forgot {
  display: flex !important;
  justify-content: space-between !important;
  font-size: 15px !important;
}

 :host  .login-page .input-submit {
  width: 100% !important;
  height: 45px !important;
  background: #ececec !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border: none !important;
  border-radius: 30px !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

 :host  .login-page .input-submit:hover {
  background: var(--second-color) !important;
}

 :host  .login-page .register {
  text-align: center !important;
  font-size: 1.4rem !important;
}

 :host  .login-page .register a {
  font-weight: 500 !important;
}

@media only screen and (max-width: 564px) {
   :host  .login-page .wrapper {
    padding: 20px !important;
  }

   :host  .login-page .login_box {
    padding: 7.5em 1.5em 4em 1.5em !important;
  }
}