<mat-dialog-content>
    <form (ngSubmit)="onSubmit(applicantCoursefrm)" [formGroup]="applicantCoursefrm">
      <div style="Color:red; padding-bottom:10px; font-size: 12px !important;"> {{errorMsg}}</div>     
          <h4>{{data.modalTitle}}
            <span class="mandatory-fields"> (Mandatory Fields are sign with asterisk(*)) </span>
          </h4>
          <div class="row">
            <div class="col-3">
              <mat-form-field>
                <mat-label>Course</mat-label>
                <mat-select formControlName="courseId" required>
                  <mat-option *ngFor="let course of courseList" [value]="course.courseId">
                    {{course.courseName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field color="accent">
                <mat-label>Certificate Number</mat-label>
                <input matInput  formControlName="certificateNumber" required>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field color="accent">
                <mat-label>Place Of Issue</mat-label>
                <input matInput  formControlName="placeOfIssue" required>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field>
                <mat-label> Issue Date</mat-label>
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()"  (dateChange)="compareTwoDates()"
                  formControlName="issueDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 touchUi startView="month"></mat-datepicker>
              </mat-form-field>
            </div>
 
          </div>   
      <div class="row">
        <div class="col-3">
          <mat-form-field>
            <mat-label> Expiry Date</mat-label>
            <input matInput [matDatepicker]="picker2" (click)="picker2.open()"  (dateChange)="compareTwoDates()"
              formControlName="expiryDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 touchUi startView="month"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Traning Institutes</mat-label>
            <mat-select   formControlName="instituteId">
              <mat-option *ngFor="let license of instituteList" [value]="license.instituteId">
                {{license.instituteName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field>
            <mat-label>Authority</mat-label>
            <mat-select   formControlName="authorityId">
              <mat-option *ngFor="let state of authorityList" [value]="state.authorityId">
                {{state.authorities}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3"><br>
          <!-- <mat-label>Certificate</mat-label> -->
          <!-- <mat-label>Certificate</mat-label> -->
          <input type="file" style="width: 100%;" accept="application/pdf"  formControlName="attachment" (change)="handleCertificateFile($event)">
        </div>
      </div>

      <div class="mt-2">
        <!-- <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>&nbsp;
        <button type="submit" mat-raised-button color="primary"
          [disabled]="applicantCoursefrm.invalid">{{data.modalBtnTitle}}</button> -->
           <button type="button" mat-raised-button [style.background-color]="'coral'" [style.color]="'white'"
                color="warn" (click)="dialogRef.close()"><i class="ft-x"></i>Close</button>&nbsp;
        <button type="submit" mat-raised-button class="custom-btn"
                 [ngClass]="{'btn-enabled': applicantCoursefrm.valid,'btn-disabled': applicantCoursefrm.invalid }"
                  [disabled]="applicantCoursefrm.invalid"><i class="fa fa-check-square-o"></i> {{ data.modalBtnTitle }}</button>
      </div>
</form>
</mat-dialog-content>

