.mat-form-field {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 141px;
}

  .file-exists {
  color: #0057c9; /* blue */
  cursor: pointer;
}

.no-file {
  color: #0e0303; /* light grey */
  /* cursor: not-allowed; */
}
.mat-column-licenceName {
  flex: 0 0 250px;
  }
  .mat-column-authorities {
  flex: 0 0 250px;
  }
  .mat-column-attachment {
  flex: 0 0 30px;
  }
.mat-column-actions {
  flex: 0 0 70px;
  }
  
  .mat-column-doi {
  flex: 0 0 115px;
  }
  .mat-column-doe {
  flex: 0 0 115px;
  }