.mat-form-field {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 141px;
}

  .file-exists {
  color: #0057c9; /* blue */
  cursor: pointer;
}

.no-file {
  color: #0e0303; /* light grey */
  /* cursor: not-allowed; */
}
